# API Settings
PROJECT_NAME="Face Attendance API"
VERSION="1.0.0"
API_V1_STR="/api/v1"
CLIENT_ID="face-attendance"
CLIENT_SECRET="b0udcdl8k80cqiyt63uq"  
ALLOWED_ORIGINS=["*"]
APP_HOST=0.0.0.0
APP_PORT=62011
APP_WORKERS=1
APP_RELOAD=false

# Database Configuration
POSTGRES_USER="admin"
POSTGRES_PASSWORD="admin"
POSTGRES_HOST="localhost"
POSTGRES_PORT=62000
POSTGRES_DB="face-attendance"

# Token Configuration
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM="HS256"

#AI service configuration
AI_SERVICE_BASE_URL="http://localhost:62062"
DETECT_FACE_URI="/api/v1/analyze/detect"
DETECT_FACE_METHOD="POST"
DETECT_FACE_HEADERS="Content-Type: application/json"
DETECT_FACE_BODY="{\"base64_image\": \"\"}"
REGISTER_MIN_QUALITY=0.5  # Adjust this value as needed
MASK_THRESHOLD_SUB=0.1
#other
GMT_TIMEZONE=7 # UTC+7

# Config
STORAGE_PATH="/storage"
PERSON_PATH="person-register"
EVENT_PATH="events"

# Celery Configuration
CELERY_BROKER_URL="redis://localhost:63079/0"
CELERY_RESULT_BACKEND="redis://localhost:63079/0"

# Add these environment variables
CORS_ORIGINS=["*"]
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=["GET","POST","PUT","DELETE","OPTIONS"]
CORS_ALLOW_HEADERS=["Authorization","Content-Type"]
